body {
    background: url('https://puu.sh/Fifoq/d02b1aa185.png');
}

.card {
    background-color: rgb(255, 238, 161);
}

.list-group-item {
    background-color: rgb(255, 238, 161);
}

.navbar {
    background-color: rgb(255, 238, 161);
}